@use "root";
@use "title";
@use "mainCont";
@use 'carrousel';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  box-sizing: border-box;
  font-size: 1.6rem;
}
