@use "root";

#nameTitleCont {
    width: 60rem;
  font-family: "Montserrat", system-ui;
  text-transform: uppercase;
  font-size: 2.6em;
  color: var(--black);
  position: relative;
  left: 40%;
  margin-top: 10rem;
  z-index: 9;
  margin-bottom: 10rem;
}
